.breadcrumb__container {
   position: relative;
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: 50% 0px;
   background-attachment: fixed;
   width: 100%;
   padding: 90px 0 70px;
   .breadcrumb__center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: auto;

      h1 {
         margin-top: 80px;
         color: #eceff3;
         font-size: 36px;
         letter-spacing: 5px;
         padding-right: 40px;
         text-transform: uppercase;
         text-align: left;
      }
      p {
         font-size: 14px;
         letter-spacing: 3px;
         margin-top: 85px;
         color: #fff;
         text-transform: uppercase;
         a {
            color: var(--color-main);
            padding: 0.25rem;
            &:hover {
               color: #fff;
            }
         }
      }
   }
}
@media (max-width: 768px) {
   .breadcrumb__container {
      .breadcrumb__center {
         h1 {
            display: none;
         }
         p {
            margin-top: 50px;
            font-size: 22px;
         }
      }
   }
}
@media (max-width: 630px) {
   .breadcrumb__container {
      .breadcrumb__center {
         p {
            margin-top: 10px;
            font-size: 16px;
         }
      }
   }
}
