.navbar {
   height: 5rem;
   display: flex;
   align-items: center;
   background: transparent;
   justify-content: center;
   background: rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;

   z-index: 10;
   .nav-center {
      width: 90vw;
      margin: 0 auto;
      max-width: var(--max-width);
   }
   .nav-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
         width: 175px;
         margin-left: -15px;
      }
   }
   .nav-toggle {
      background: #606060;
      height: 38px;
      width: 38px;
      line-height: 22px;
      font-size: 22px;
      color: #fff;
      transition: all 0.3s ease;
      cursor: pointer;
      border: none;
      &:hover {
         color: #111;
         background: #fff;
      }
      &:focus {
         outline: none;
      }
   }
   .nav-links {
      display: none;
   }
   .cart-btn-wrapper {
      display: none;
   }
   @media (min-width: 992px) {
      .nav-toggle {
         display: none;
      }
      .nav-center {
         display: grid;
         grid-template-columns: auto 1fr auto;
         align-items: center;
      }
      .nav-links {
         display: flex;
         justify-content: center;
         align-items: center;
         li {
            margin: 1rem 0.5rem 0;
         }
         a {
            color: #fff;
            font-size: 1rem;
            text-transform: capitalize;
            letter-spacing: var(--spacing);
            padding: 0.5rem;
            font-size: 12px;
            text-transform: uppercase;
            &:hover {
               border-bottom: 2px solid var(--color-main);
               color: var(--color-main);
            }
         }
      }
      .cart-btn-wrapper {
         display: flex;
         justify-content: center;
         align-items: center;
         width: auto;
         color: #fff;
         .account {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 30px;
            .account-info {
               display: flex;
               align-items: center;
               width: auto;
               cursor: pointer;
               .acoount__avatar-name {
                  display: flex;
                  align-items: center;
                  .img-avatar {
                     width: 25px;
                     height: 25px;
                     line-height: 25px;
                     border-radius: 50%;
                     object-fit: cover;
                     margin-right: 10px;
                  }
                  h5 {
                     font-size: 12px;
                     color: #fff;
                     margin: 0;
                     span {
                        color: var(--color-main);
                        font-weight: 500;
                     }
                  }
               }
            }
         }
         .cart-btn {
            color: #fff;
            font-size: 1.5rem;
            letter-spacing: var(--spacing);
            display: flex;
            justify-self: center;
            align-items: center;
         }
         .cart-container {
            display: flex;
            align-items: center;
            position: relative;
            svg {
               height: 1.6rem;
               margin-left: 5px;
            }
         }
         .cart-value {
            position: absolute;
            top: -10px;
            right: -16px;
            background: var(--color-main);
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-size: 0.75rem;
            color: var(--clr-white);
            padding: 12px;
         }
         .auth-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border-color: transparent;
            font-size: 13px;
            cursor: pointer;
            color: #fff;
            letter-spacing: var(--spacing);
            svg {
               margin-left: 5px;
            }
         }
      }
   }
}
.navbar-sticky {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 0.75rem 2rem;
   background: #111;
   z-index: 999;
   height: 4.5rem;
   transition: all 0.4s ease-in-out;
   border-bottom: solid 1px #333;
   .nav-links {
      li {
         margin: 0.75rem 0.5rem 0;
      }
   }
}
li {
   .selected {
      color: red !important;
   }
}
.ant-dropdown-menu {
   width: 160px !important;
   .ant-dropdown-menu-item {
      .auth-logout__btn {
         display: flex;
         align-items: center;
         justify-content: center;
         background: #ddd;
         border-color: transparent;
         font-size: 13px;
         cursor: pointer;
         color: #111 !important;
         font-weight: 500;
         padding: 5px 12px;
         letter-spacing: var(--spacing);
         &:hover {
            background: var(--color-main);
            color: #111;
         }
      }
   }
}
