.sidebar-container {
   text-align: center;
   position: relative;
   z-index: 1000;
   .sidebar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
   }
   .close-btn {
      font-size: 2rem;
      background: transparent;
      border-color: transparent;
      color: var(--clr-primary-5);
      transition: var(--transition);
      cursor: pointer;
      color: var(--clr-red-dark);
      margin-top: 0.2rem;
   }
   .close-btn:hover {
      color: var(--clr-red-light);
   }
   .logo {
      justify-self: center;
      height: 45px;
   }
   .links {
      margin-bottom: 2rem;
   }
   .links a {
      display: block;
      text-align: left;
      font-size: 1rem;
      text-transform: capitalize;
      padding: 1rem 1.5rem;
      color: var(--clr-grey-3);
      transition: var(--transition);
      letter-spacing: var(--spacing);
   }

   .links a:hover {
      padding: 1rem 1.5rem;
      padding-left: 2rem;
      background: var(--clr-grey-10);
      color: var(--clr-grey-2);
   }

   .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--clr-white);
      transition: var(--transition);
      transform: translate(-100%);
      z-index: 10;
   }
   .show-sidebar {
      transform: translate(0);
      z-index: 999;
   }
   .cart-btn-wrapper {
      margin: 2rem auto;
   }
   .cart-btn-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      width: 160px;
      justify-content: center;
      .account {
         display: flex;
         justify-content: center;
         align-items: center;
         .img-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
         }
      }

      .cart-btn {
         color: var(--clr-grey-1);
         font-size: 1.5rem;
         letter-spacing: var(--spacing);
         color: var(--clr-grey-1);
         display: flex;
         justify-self: center;
         align-items: center;
      }
      .cart-container {
         display: flex;
         align-items: center;
         position: relative;
         svg {
            height: 1.6rem;
            margin-left: 5px;
         }
      }
      .cart-value {
         position: absolute;
         top: -10px;
         right: -16px;
         background: var(--clr-primary-5);
         width: 16px;
         height: 16px;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 50%;
         font-size: 0.75rem;
         color: var(--clr-white);
         padding: 12px;
      }
      .auth-btn {
         display: flex;
         align-items: center;
         justify-content: center;
         background: transparent;
         border-color: transparent;
         font-size: 1.5rem;
         cursor: pointer;
         color: var(--clr-grey-1);
         letter-spacing: var(--spacing);
         svg {
            margin-left: 5px;
         }
      }
   }
   @media screen and (min-width: 992px) {
      .sidebar {
         display: none;
      }
   }
  
}
